
{% extends 'base.html' %}
{% block  content %}
<br>
<br>
<br>
<br>


<h1> App release calender </h1>
<table class="wikitable">

    <tbody><tr>
    <th>Quarter </th>
    <th>App name </th>
    <th>Release Date </th>
    <th>App Url </th>
    <th>Version </th>
    <td>
    </td>
    <th>Description </th>
    </tr>
    <tr>
    <td rowspan="1">Q3 2021
    </td>
    <th>Software release  Tracker
    </th>
    <th>2021-11-23
    </th>
    <td><a rel="nofollow" class="external text" href="/apprel/">Software release  Tracker</a></td>
    <td><a>Version 1.0</a>
    </td>
    <td>
    </td>
    <th> for clear visibility on deployment statUsedus
    </th>
    </tr>
    <tr>
    <td rowspan="3">Q2 2021
    </td>
    <th>Nokia BCF reset Tool
    </th>
    <th>2021-11-24
    </th>
    <td><a rel="nofollow" class="external text" href="/resetbcf/">Nokia BCF reset Tool</a></td>
    <td><a>Version 1.0</a>
    </td>
    <td>
    </td>
    <th>Used for Quick 2G site reset to improve CSSR KPIs
    </th>
    </tr>
    <tr>
        <td rowspan="3">Q2 2021
        </td>





        
        <th>Knowledge Base
        </th>
        <th>2021-11-24
        </th>
        <td><a rel="nofollow" class="external text" href="/resetbcf/">Nokia BCF reset Tool</a></td>
        <td><a>Version 1.0</a>
        </td>
        <td>
        </td>
        <th>A database for capturing know Errors and solutions
        </th>
        </tr>
    <tr>
    <th>2022-02-03
    </th>
    <th>2022-02-07
    </th>
    <td><a rel="nofollow" class="external text" href="https://fx-trains.herokuapp.com/release/?version=99">Firefox 99</a></td>
    <td><a rel="nofollow" class="external text" href="https://fx-trains.herokuapp.com/release/?version=98">Firefox 98</a>
    </td>
    <th>2022-02-08
    </th>
    <td>Firefox 97
    </td>
    <td>Firefox 91.6
    </td></tr>
    <tr>
    <th>2022-03-03
    </th>
    <th>2022-03-07
    </th>
    <td><a rel="nofollow" class="external text" href="https://fx-trains.herokuapp.com/release/?version=100">Firefox 100</a></td>
    <td><a rel="nofollow" class="external text" href="https://fx-trains.herokuapp.com/release/?version=99">Firefox 99</a>
    </td>
    <th>2022-03-08
    </th>
    <td>Firefox 98
    </td>
    <td>Firefox 91.7
    </td></tr>
    <tr>
    <td rowspan="4">Q1 2021
    </td>
    <th>2022-03-31
    </th>
    <th>2022-04-04
    </th>
    <td><a rel="nofollow" class="external text" href="https://fx-trains.herokuapp.com/release/?version=101">Firefox 101</a></td>
    <td><a rel="nofollow" class="external text" href="https://fx-trains.herokuapp.com/release/?version=100">Firefox 100</a>
    </td>
    <th>2022-04-05
    </th>
    <td>Firefox 99
    </td>
    <td>Firefox 91.8
    </td></tr>
    <tr>
    <th>2022-04-28
    </th>
    <th>2022-05-02
    </th>
    <td><a rel="nofollow" class="external text" href="https://fx-trains.herokuapp.com/release/?version=102">Firefox 102</a></td>
    <td><a rel="nofollow" class="external text" href="https://fx-trains.herokuapp.com/release/?version=101">Firefox 101</a>
    </td>
    <th>2022-05-03
    </th>
    <td>Firefox 100
    </td>
    <td>Firefox 91.9
    </td></tr>
    <tr>
    <th>2022-05-26
    </th>
    <th>2022-05-30
    </th>
    <td><a rel="nofollow" class="external text" href="https://fx-trains.herokuapp.com/release/?version=103">Firefox 103</a></td>
    <td><a rel="nofollow" class="external text" href="https://fx-trains.herokuapp.com/release/?version=102">Firefox 102</a>
    </td>
    <th>2022-05-31
    </th>
    <td>Firefox 101
    </td>
    <td>Firefox 91.10
    </td></tr>
    <tr>
    <th>2022-06-23
    </th>
    <th>2022-06-27
    </th>
    <td><a rel="nofollow" class="external text" href="https://fx-trains.herokuapp.com/release/?version=104">Firefox 104</a></td>
    <td><a rel="nofollow" class="external text" href="https://fx-trains.herokuapp.com/release/?version=103">Firefox 103</a>
    </td>
    <th>2022-06-28
    </th>
    <td>Firefox 102
    </td>
    <td>Firefox 91.11; 102.0
    </td></tr>
    <tr>
    <td rowspan="3">Q3 2022
    </td>
    <th>2022-07-21
    </th>
    <th>2022-07-25
    </th>
    <td><a rel="nofollow" class="external text" href="https://fx-trains.herokuapp.com/release/?version=105">Firefox 105</a></td>
    <td><a rel="nofollow" class="external text" href="https://fx-trains.herokuapp.com/release/?version=104">Firefox 104</a>
    </td>
    <th>2022-07-26
    </th>
    <td>Firefox 103
    </td>
    <td>Firefox 91.12; 102.1
    </td></tr>
    <tr>
    <th>2022-08-18
    </th>
    <th>2022-08-22
    </th>
    <td><a rel="nofollow" class="external text" href="https://fx-trains.herokuapp.com/release/?version=106">Firefox 106</a></td>
    <td><a rel="nofollow" class="external text" href="https://fx-trains.herokuapp.com/release/?version=105">Firefox 105</a>
    </td>
    <th>2022-08-23
    </th>
    <td>Firefox 104
    </td>
    <td>Firefox 91.13; 102.2
    </td></tr>
    <tr>
    <th>2022-09-15
    </th>
    <th>2022-09-19
    </th>
    <td><a rel="nofollow" class="external text" href="https://fx-trains.herokuapp.com/release/?version=107">Firefox 107</a></td>
    <td><a rel="nofollow" class="external text" href="https://fx-trains.herokuapp.com/release/?version=106">Firefox 106</a>
    </td>
    <th>2022-09-20
    </th>
    <td>Firefox 105
    </td>
    <td>Firefox 102.3
    </td></tr>
    <tr>
    <td rowspan="2">Q4 2022
    </td>
    <th>2022-10-13
    </th>
    <th>2022-10-17
    </th>
    <td><a rel="nofollow" class="external text" href="https://fx-trains.herokuapp.com/release/?version=108">Firefox 108</a></td>
    <td><a rel="nofollow" class="external text" href="https://fx-trains.herokuapp.com/release/?version=107">Firefox 107</a>
    </td>
    <th>2022-10-18
    </th>
    <td>Firefox 106
    </td>
    <td>Firefox 102.4
    </td></tr>
    <tr>
    <th>2022-11-10
    </th>
    <th>2022-11-14
    </th>
    <td><a rel="nofollow" class="external text" href="https://fx-trains.herokuapp.com/release/?version=109">Firefox 109</a></td>
    <td><a rel="nofollow" class="external text" href="https://fx-trains.herokuapp.com/release/?version=108">Firefox 108</a>
    </td>
    <th>2022-11-15
    </th>
    <td>Firefox 107
    </td>
    <td>Firefox 102.5
    </td></tr></tbody></table>


{% endblock %}