{% extends 'base.html' %}
{% block content %}
<br>
<br>
<br>
<br>
<h2> Huawei pre and post checks </h2>
<p>
  Kindly enter RNCID or bsc id separated by comma eg 3206,3000,513 
</p>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}
    
    <button onclick="myFunction()">Download BSC/RNC checks</button>
  </form>
<script>
  function myFunction() {
    if (confirm("Press a button!")) {
  txt = "You pressed OK!";
} else {
  txt = "You pressed Cancel!";
}
  }
</script>


</br>
</br>
</br>
</br>
  
{% endblock %}