{% extends 'base.html' %}
{%block content%}

<br>
<br>
<h2> Innovation suggestions by Access Support Engineers
</h2>
<table style="width:100%">
  <tr>
    <th>Innovation Task</th>
    <th>Owner</th>
    <th>Status</th>
  </tr>
  <tr>
    <td> 1. Tracking and Disabling of telnet and FTP on Nokia Nodes</td>
    <td>Daniel Okumu</td>
    <td>Completed</td>
  </tr>
    <tr>
    <td> 2. Track IP conflicts on Huawei RAN elements </td>
    <td>Martin Sakwa</td>
    <td>Completed</td>
  </tr>
  <tr>
    <td> 3. Create a Knowledge base to Help on quick resolution of known Faults </td>
    <td>Mzamil Hassan</td>
    <td>Completed</td>
  </tr>
  <tr>
    <td> 4. Automate tracking of quality alarms on IP RAN </td>
    <td>Collins Marienga</td>
    <td>Completed</td>
  </tr>
  <tr>
    <td> 5. Proactive checks on TX port settings to identify misconfigurations </td>
    <td>Victor Nyaga</td>
    <td>Ongoing</td>
  </tr>
    <tr>
    <td> 6. Identify and correct wrong adjacencies  </td>
    <td>Urbanus Disii</td>
    <td>Ongoing</td>
  </tr>
   <tr>
    <td> 7. Track critical alarms on MW links like Aviat  </td>
    <td>Cornelius Kuto</td>
    <td>Not started</td>
  </tr>
     <tr>
    <td> 8. Network configuration on TX nodes   </td>
    <td>Mzamil Hassan</td>
    <td>Not started</td>
  </tr>
       <tr>
    <td> 9. Huawei NE data extraction and script generation    </td>
    <td>Lawrence Nduati</td>
    <td>Ongoing</td>
  </tr>
       <tr>
    <td> 10. Uncofigured RCU detection and reporting   </td>
    <td>Lawrence Nduati</td>
    <td>Not started</td>
  </tr>
       <tr>
    <td> 11. Automatic alarm resolution for Huawei basic alarms   </td>
    <td>Lawrence Nduati</td>
    <td>Not started</td>
  </tr>
       <tr>
    <td> 12. Duplicate adjacencies identification and removal   </td>
    <td>Dianah Ogeto</td>
    <td>Not started</td>
  </tr>
       <tr>
    <td> 13. Identification and removal of Duplicate NEIDs   </td>
    <td>Dianah Ogeto</td>
    <td>Not started</td>
  </tr>
       <tr>
    <td> 14. Expired licence Notification    </td>
    <td>Dianah Ogeto</td>
    <td>Not started</td>
  </tr>
         <tr>
    <td> 15. Tracking SUR per engineer weekly    </td>
    <td>David Omune</td>
    <td>Not started</td>
  </tr>
   <tr>
      <td> 16. Add columns on BCP tool for FY and CRQ    </td>
    <td>martin Sakwa</td>
    <td>Completed</td>
  </tr>
     <tr>
      <td> 17. Nokia 4G alarm tracking    </td>
    <td>David Omune</td>
    <td>completed</td>
  </tr>
    </tr>
     <tr>
      <td> 18. Nokia cell upgrade tool for multiple cells     </td>
    <td>Simeon Kiplagat</td>
    <td>completed</td>
  </tr>
       <tr>
      <td> 19. Tracking Configuration changes on TX nodes     </td>
    <td>Cornelius Kuto</td>
    <td>on going</td>
  </tr>
    <tr>
      <td> 20. Redesign current Huawei U2100 cell creation tool to support other bands     </td>
    <td>Simeon Kiplagat</td>
    <td>Completed</td>
  </tr>
      <tr>
      <td> 21. Redesign BCP IPRAN reporting tool to capture RSG and ASG shutdown     </td>
    <td>James Kimeu</td>
    <td>Completed</td>
  </tr>
       <tr>
      <td> 22. Nokia SRAN reset     </td>
    <td>Evah Waithanji</td>
    <td>Ongoing</td>
  </tr>
       <tr>
      <td> 23. Nokia TRX restoration     </td>
    <td>Wilson DNoC</td>
    <td>Ongoing</td>
  </tr>
</table>



<br>
<h2> Track Progress on Jira Dashboard 
</h2>
   <a href="#" class="c-header-nav-link c-active">
                     Jira 
                </a>
</br>
<br>
</br>
</br>

</br>
{% endblock %}
