{% extends 'base.html' %}
{% block content %}
<br>
<br>
<br>
<br>
<h1> NBiot activation</h1>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button onclick="myFunction()">Generate scripts</button>
  </form>
<script>
  function myFunction() {
    if (confirm("Press a button!")) {
  txt = "You pressed OK!";
} else {
  txt = "You pressed Cancel!";
}
  }
</script>

  {% if uploaded_file_url %}
  <p>Please wait as site is created on the BSC. </p>
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}

  </br>
</br>
</br>
</br>
{% endblock %}