{% extends 'base.html' %}
{% block  content %}


<br>
<br>
<br>
<br>

<form   method="Post"> 
{% csrf_token %}

<div class="form-group">
<label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">TRX channel modification </label>
<div class="form-group">  
{{form}}
  <input type="submit" value="Ammend TRX Channel">
</form>
<h2>Expected File Input format:</h2>
 <table>
 
     <tr>
         <td><strong>Bsc</strong></td>
         <td><strong>Bcf</strong></td>
         <td><strong>Bts</strong></td>
         <td><strong>TRX</strong></td>
          <td><strong>Channel</strong></td>
         <td><strong>Channel Type</strong></td>

  </tr>
     <tr>
         <td>KSMBSC2101</td>
         <td>2060</td>
         <td>2062</td>
         <td>48</td>
        <td>3</td>
         <td>sdcch</td>
 
     </tr>
       <tr>
         <td>KSMBSC2101</td>
         <td>2060</td>
         <td>2065</td>
         <td>812</td>
        <td>4</td>
         <td>tchd</td>
  
     </tr>
 </table>
 <br>
<form action="{% url "sdcch" %}" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
{% csrf_token %}

<div class="form-group">
    <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">TRX creation using File upload: </label>
    <div class="col-md-8">
        <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
    </div>                    
</div>
<div class="form-group">                    
    <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
         <button class="btn btn-primary"> <span class="c-text-laravel" style="margin-right:5px;"></span>Upload and Update TRX channels  </button>
    </div> 
</div>
</form>
</br>
</br>
</br>
</br>
{% endblock %}